{% extends 'base.html' %}



  {% block content %}


  <script type="text/javascript" src="/static/colasIN/dashboard.js"></script>

<script>

function cerrar(){

console.log('dataaa')

}


</script>


<body>




<script  type="text/javascript">
     
    var bPreguntar = true;
     
    
     
    function preguntarAntesDeSalir()
    {

      console.log('shshshshshs')



      var url = '/colasIN/lanzadisponible/1';
 
      fetch( url )
        .then( r => r.json() )
        .then( data => console.dir( data ) )
        .catch( e => console.error( 'Something went wrong' ) );
    
    window.close();

      if (bPreguntar)
        return "¿Seguro que quieres salir.....?";


    
    }

    //window.onbeforeunload = preguntarAntesDeSalir;


</script>


		<div class='container-fluid'>
				<div class="page home-page">
						<!-- Main Navbar-->
					

								<!-- Side Navbar -->

									<!-- {% include "sidenav.html" %jj}kk -->

								
										<!-- Page Header-->
										

										<header class="page-header">

												<div class="container-fluid">


  

                  
    <form  action="/colasIN/guardar" class="text-dark" id="formulario" style="  border-radius: 20px;" method='POST' >
      {% csrf_token %}



  
  <div class="form-row  m-1">
    
    <div class="form-group col-md-2">
      <label for="inputPassword4" class="text-dark" >Nombre del Cliente</label>
      
      <input type="text" class="form-control rounded text-dark"  required="True"name="cliente" id="cliente" placeholder="Ingrese Nombre"  value='{{cliente}}'>
    </div>

    <div class="form-group col-md-2 ">
      <label for="apellido_p" class="text-dark" >Primer Apellido </label>
      
      <input type="text" class="form-control rounded text-dark"  value='{{apellido_p}}' name="apellido_p" id="apellido_p" placeholder="Ingrese Nombre">
    </div>

    <div class="form-group col-md-2 ">
      <label for="apellido_m" class="text-dark" > Segundo Apellido

      </label>
      
      <input type="text" class="form-control rounded text-dark"  value='{{apellido_m}}' name="apellido_m" id="apellido_m" placeholder="Ingrese Nombre">
    </div>

    <div class="form-group col-md-2">
      <label for="dni" class="text-dark">DNI-Cliente</label>
      <input type="text" class="form-control rounded" name="dni"  value='{{dni}}' id="dni" placeholder="DNI">
    </div>

    <div class="form-group col-md-2">
      <label for="telefono_1" class="text-dark" >Telefono1</label>
      <input type="text" class="form-control rounded" name="telefono_1"  value='{{telefono_1}}' id="telefono_1" placeholder="Telefono">
    </div>
    <div class="form-group col-md-2">
    <label for="telefono2" class="text-dark">Telefono2</label>
    <input type="text" class="form-control rounded" name="telefono_2" value="{{telefono_2}}" id="telefono_2" placeholder="Telefono">
    </div>

 

  </div>

 
  <div class="form-row m-1">

  <div class="form-group col-md-2">
    <label for="inputMarca" class="text-dark">Marca del vehiculo</label>

    <select name='marca_vehiculo' id="marca" class="form-control" onchange='traemodelos()' >

        <option  class='option' >Seleccionar</option>

        {% for m in marcas %}

            {% if marca == m.nombre %}

              <option value='{{m.nombre}}' selected  class='option'>{{m.nombre}}</option>

            {% else %}

              <option  value='{{m.nombre}}'  class='option'>{{m.nombre}}</option>

            {% endif %}


        {% endfor %}
        <option >OTROS</option>

    </select>
    



  </div>

    <div class="form-group col-md-2">
    <label for="inputModelo" class="text-dark">Modelo del vehiculo</label>
    <div class="input-group">
    <div class="input-group-prepend">

     <select name='modelo' class="form-control" id='modelo'>
      <option class='option'>Seleccionar</option>

        {% for m in modelos %}

           {% if modelo_v == m.modelo %}


            <option value='{{m.modelo}}' selected> {{m.modelo}}</option>
          {% else %}
            <option  value='{{m.modelo}}'>{{m.modelo}}</option>

          {% endif %}

        {% endfor %}
        <option >OTROS</option>


    </select>


    </div>
  </div>


  </div>







    <div class="form-group col-md-2">
    <label for="inputVersion" class="text-dark">Version</label>
    <input type="text" class="form-control rounded" id="inputVersion" name="version"  value='{{version}}' placeholder="Version">

  </div>



    <div class="form-group col-md-2">
    
    <label for="inputAnio" class="text-dark">Año</label>

    <select name='anio' id="inputAnio"  class="form-control" >

        
        {% for a in anio %}





            {% if aniorecibido == a.nombre %}

              <option value='{{a.id}}' selected="" >{{a.nombre}}</option>

            {% else %}

              <option  value='{{a.id}}' >{{a.nombre}}</option>

            {% endif %}
        

        {% endfor %}

          

            
    </select>
  </div>


      <div class="form-group col-md-2">
      <label for="inputColor" class="text-dark">color  </label>

     
      <select name='color' class="form-control"  id="inputColor">

     

    
        {% for m in color %}

           {% if colorrecibido == m.nombre %}

              <option value='{{m.id}}' selected>{{m.nombre}}</option>

            {% else %}

              <option  value='{{m.id}}'>{{m.nombre}}</option>

            {% endif %}
        

        {% endfor %}

    </select>
    
    </div>

    <div class="form-group col-md-2">
      <label for="inputCili" class="text-dark">Cilindrada del Motor</label>
      <input type="text" class="form-control rounded" id="inputCili"  name="motor" placeholder="cilindrada" value="{{cilindrada}}">
    </div>

  

    

    <div class="form-group col-md-1">
      <label for="inputkilo" class="text-dark">Kilometraje</label>
      <input type="text" class="form-control rounded" id="inputkilo"  name="kilometraje" placeholder="kilometraje" value="{{kilometraje}}">
    </div>


  
    <div class="form-group col-md-1">
      <label for="inputZip" class="text-dark">Placa</label>
      <input type="text" class="form-control rounded" id="inputZip" name="placa" placeholder="Placa" value="{{placa}}">
    </div>


     
    


       <div class="form-group col-md-2">
    <label for="inputMP" class="text-dark">Marca de la bateria</label>
    <!-- <input type="text" class="form-control rounded" id="inputMP" name="marca_producto" placeholder="Ingrese marca"> -->
     
        
          
        <select name='marca_producto' id="marca_b" class="form-control" onchange='traemodelos()' >

          <option >Seleccionar</option>
        {% for b in bateria %}


           
            {% if marca_b == b.marca %}

              <option value='{{b.marca}}' selected>{{b.marca}}</option>

            {% else %}

              <option  value='{{b.marca}}'>{{b.marca}}</option>

            {% endif %}


        {% endfor %}

    </select>

    
 </div>



 
  <div class="form-group col-md-2">
    <label for="inputMP" class="text-dark">Modelo de la bateria</label>
    <!-- <input type="text" class="form-control rounded" id="inputMP" name="marca_producto" placeholder="Ingrese marca"> -->

    <div class="input-group">
     <div class="input-group-prepend">
    <select name='modelo_b' id="modelo_b" class="form-control"  onchange='traemodelos()'>

        
        <option class='opt' >Seleccionar</option>

              {% for b in modelos_baterias %}

                 
                  {% if modelo_bat == b.modelo %}
                  

                  {{b_modelo}}

                    <option value='{{b.modelo}}' selected  class='opt'>{{b.modelo}}</option>

                  {% else %}

                    <option  value='{{b.modelo}}' class='opt'>{{b.modelo}}</option>

                  {% endif %}


              {% endfor %}
 
    </select>
    <div class="input-group-text" id="btnGroupAddon" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
  </div>

</div>

  </div>



     <div class="form-group col-md-2">
    <label for="inputPrecio" class="text-dark">Precio</label>
    <div class="input-group">

    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">S/.</div>
    </div>
     
    
    <input type="number" class="form-control rounded"  id="inputPrecio" name="precio" value='{{precio}}' onchange="cal()" placeholder="s/"/>
   
    
  </div>
</div>

<div class="form-group col-md-2">
    <label for="inputDesc" class="text-dark">Descuento</label>
     <div class="input-group"> 
      <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">S/.</div>
    </div>
    <input type="number" class="form-control rounded" id="inputDesc" name="descuento"  value='{{descuento}}' onchange="cal()" placeholder=""/>

    
  </div>
</div>


<div class="form-group col-md-2">
  <label for="inputP" class="text-dark">Cantidad</label>
  <input type="number" class="form-control rounded" id="inputP" name="cantidad"  value="{{cant_ba}}" onchange="cal()" placeholder="0" >
</div>

  </div>





  <div class="form-row  m-1">

 


  <div class="form-group col-md-2">

        <label for="inputTotal" class="text-dark">Total</label>
      <div class="input-group">
    
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">S/.</div>
    </div>
    <input type="number" class="form-control"  id="inputTotal"  name="precio_total" value="0" readonly="readonly00">
    </div>
  </div>






   <div class="form-group col-md-2">
    <label for="inputBU" class="text-dark">Cant. Baterias Usadas</label>
    <input type="text" class="form-control" name="cantidad_bu" id="inputBU" placeholder="100" value="1">
  </div>

  <div class="form-group col-md-3">
    <label for="inputFI" class="text-dark">Fecha de instalacion</label>
    <input type="date" class="form-control" required="true" name="fecha_atencion" id="inputFI" placeholder="fecha">
  </div>


<div class="form-group col-md-2">
  
    <label for="inputime" class="text-dark">Hora</label>
    <div class="input-group">
    <div class="input-group-prepend">
    <input type="time"  required="true"  name="inputime" value="{{hora_i}}" id="inputime">
    <div class="input-group-text" id="boton"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
  </div>
</div>
  </div>


  <div class="form-group col-md-3">
    <label for="inputRF" class="text-dark">Direccion de Atencion </label>
    <input type="text" class="form-control"  name="direccion_atencion" id="inpuguardatRF" onchange='guardadireccion()'  placeholder="Direccion">

    <input type="hidden" class="form-control"  name="audio"  value='{{audio}}'  id="audio" placeholder="Audio">
  </div>



  <div class="form-group col-md-2">
    <label for="inputMarca" class="text-dark">Distrito</label>

    <select name='distrito' id="distrito" class="form-control" >

      
        {% for d in distrito%}

        <option value='{{d.id}}'>{{d.nombre}}</option>


        {% endfor %}

          

            
    </select>
    



  </div>



  <div class="form-group col-md-3">
    <label for="inputRef" class="text-dark">Referencia</label>
    <input type="text" class="form-control"  name="referencia" id="inputRef" placeholder="Referencia">
  </div>

  <div class="form-group col-md-4">
      <label for="inputRef" class="text-dark">Gmaps</label>
      <div class="input-group-prepend">

    <input type="text" class="form-control" name="Map" id="Map" placeholder="Map">
    <div class="input-group-text" id="boton"><a id="llmapa" target="_blank" href=""><i class="fa fa-plus-square" aria-hidden="true"></i></a></div>
  </div>


</div>


<button type="button" class="btn btn-success m-1" id="bboleta" style="max-height: 37px;
margin-top: 32px !important;" >Boleta</button>
<button type="button" class="btn btn-danger m-1" id="ffactura" style="max-height: 37px;
margin-top: 32px !important;">Factura</button>



  </div>






  <div class="form-row m-1" id="bboleta1" style="display: none">


        
   
    <div class="form-check col-md-1 m-1 ">

      <input class="form-check-input" type="checkbox" id="gridCheck" >
      <label class="form-check-label" for="gridCheck">
        ¿Mismo Cliente?
      </label>
    </div>

      
   

    <div class="form-group col-md-3">
      <label for="inputNombre" class="text-dark" >Nombre</label>
      <input type="text" class="form-control rounded" id="inputNombre" name="nombre_boleta" placeholder="Nombre del Cliente" value=''>
    </div>
     <!-- <div class="form-group col-md-3">
      <label for="inputApellido_p" class="text-dark" >Primer Apellido</label>
      <input type="text" class="form-control rounded" id="inputApellido_p" name="m_apellido_p" placeholder="Nombre del Cliente" value=''>
    </div>

     <div class="form-group col-md-3">
      <label for="inputApellido_m" class="text-dark" >Segundo Apellido</label>
      <input type="text" class="form-control rounded" id="inputApellido_m" name="m_apellido_m" value=''>
    </div> -->


    <div class="form-group col-md-1">
      <label for="inputDNI" class="text-dark" >DNI </label>

      <input type="text" class="form-control rounded" id="inputDNI" name="dni_c" placeholder="Ingrese DNI" value=''>
    </div>

 


  </div>





 

  <div class="form-row m-1" id="ffactura1" style="display:none;">
    <div class="form-group col-md-2">
      <label for="inputRUC" class="text-dark">RUC Cliente</label>
      <input type="text" class="form-control rounded rounded" name="ruc" id="inputRUC" placeholder="Ruc">
    </div>  
    

    <div class="form-group col-md-2">
      <label for="inputRazon" class="text-dark">Razon social</label>
      <input type="text" class="form-control rounded" name="razon_social" id="inputRazon" placeholder="Razon Social">
    </div>
    <div class="form-group col-md-2">
      <label for="inputDrs" class="text-dark">Direccion R.S.</label>
      <input type="text" class="form-control rounded" name="direccion_rs" id="inputDrs" placeholder="Direccion de R.S">
    </div>
    

  </div>

     <div class="form-row  m-1" id="descripcion">
    

    <div class="form-group col-md-2">
      <label for="inputState" class="text-dark">Pago</label>



         <select name='comprobante'  id='comprobante'class="form-control">

        {% for p in pagos %}


        <option value='{{p.id}}'>{{p.nombre}}</option>

        {% endfor %}


    </select>




    </div>


<div class="form-group col-md-3">
      <label for="inputEmail" class="text-dark">Correo Electronico</label>
      <input type="email" class="form-control rounded" name="correo" id="inputEmail" placeholder="ejemplo@gmail.com">
    </div>


    <div class="form-group col-md-2">
      <label for="inputSta" class="text-dark" >Atiende{{motorisado}}</label>

          <select name='atiende'  id="atiende" class="form-control" onchange='traeinfomoto()'>

        {% for mm in atiende %}


        <option value='{{mm.celular}}'>{{mm.nombre}}</option>

        {% endfor %}


    </select>




    </div>

    <div class="form-group col-md-2">
      <label for="inputS" class="text-dark">Almacen</label>
 
        
         <select name='almacen' id='almacen' class="form-control">

        {% for a in almacen %}


        <option value='{{a.id}}'>{{a.nombre}}</option>

        {% endfor %}

      </select>
    </div>




 <div class="form-group col-md-3">
      <label for="inputS" class="text-dark">Status</label>
    

        
         <select name='status' id='status' class="form-control">

        {% for s in status %}


        <option value='{{s.id}}'>{{s.nombre}}</option>

        {% endfor %}

      </select>
    </div>



    <div class="form-group col-md-5">
      <label for="inputObs" class="text-dark" >Observaciones</label>
      <input type="text" class="form-control for rounded" name="observaciones" id="inputObs" placeholder="Obserbaciones">
    </div>
    <div class="form-group col-md-2">
      <label for="inputObs" class="text-dark" >Numero-WhatsApp</label>
      <div class="input-group">
      <div class="input-group-prepend">
      
      <input type="text" class="form-control for rounded" name="wnumero" id="wnumero" placeholder="+51992644267">
      <div  id="boton" onclick="whatsApp()"><img src="/static/whatsapp.png" style='max-width: 35px;'></div>
      <div>
        
      </div>
      </div>
      </div>

      
      

    </div>

   
     
  </div>


      <center><button type="button" class="btn btn-success" onclick='preguntarAntesDeSalir()' data-dismiss="modal">CERRAR</button>
    
      <button type="submit"  onclick='cerrar()' class="btn btn-dark" id="modal" Onclick="alerta()">GUARDAR</button></center>

       
        
                

</script>


<div>
  
</div>

</form>


<div>

</div>



			</div>
		</div>
										</header>



								
						
				</div>



      </div>



<!--MODAL NUMERO #1-->




<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MARCA/MODELO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        


             <form id='formula' method='POST' action='/vehiculos/'>


    {% csrf_token %}
    

      <div class='row'>
                


            {% for field in vehiculoform %}
                  
              <div class="form-group col-md-12">


                  {{ field.label_tag }} {{ field }}
                  

                  
              </div>
            {% endfor %}

      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-danger"  value='Guardar'>GUARDAR</button>
      <!-- <p><input class='btn btn-dark' type='submit' value='Guardar'/></p> -->
       </div>
  </form>



      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>




<!--MODAL NUMERO #2-->


<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>
 -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MARCA/MODELO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        


             <form id='formula' method='POST' action='/dashboard/'>


    {% csrf_token %}
    

      <div class='row'>
                


            {% for field in bateriasform %}
                  
              <div class="form-group col-md-12">


                  {{ field.label_tag }} {{ field }}
                  

                  
              </div>
            {% endfor %}


      </div>
      <div class="modal-footer">
      

      <button type="submit" class="btn btn-success"  value='Guardar'>GUARDAR</button>
      <!-- <p><input class='btn btn-dark' type='submit' value='Guardar'/></p> -->

       </div>
  </form>
  
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


{% endblock %}