    
      {% if error %}

      <div  class="alert alert-primary animated fadeIn" role="alert">
        {{error}}
      </div>

{% endif %}


<h3></h3>

<h6>{{telefono}}</h6>

{% if incidenciaform %}

  <h3>Detalle de Venta</h3>
  
  <form method="POST" class="post-form">

  {% csrf_token %}

  


  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <div class='row'>
  {% for field in incidenciaform.visible_fields %}

  
  <div class="col-md-2">
        
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
    </div>
  
    {% endfor %}
 
  </div>


    <button type="submit" class="save btn btn-default">Guardar</button>


  </form>

  {% endif %}


  


 
 <div style='height:20px'></div>

  {% if ventas %}



  <h5>

    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/480px-WhatsApp.svg.png' style='width: 30px;'>
    <a style='color:#67da75;' target="_blank" href='https://wa.me/51{{telefono}}?text=Hola'>{{telefono}}</a>



  </h5>


  <h6>Numero de registros encontrados: {{ventas | length}} </h6>


<table class="table table-default responsive" style="display:none">
    <thead>
      <tr>
      
        <th scope="col">Fecha</th>

       
        <th scope="col">Nombre</th>
        <th scope="col">Telefono</th>

         <th scope="col">Razon Social</th>
         <th scope="col">Status</th>  
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        

        <th scope="col">Año</th>
        <th scope="col">Placa</th>
        <th scope="col">Marca Bat.</th>
        <th scope="col">Modelo Bat.</th>
        <th scope="col">Precio</th>
        <th scope="col">Direccion</th>
        <th>Accion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      {% for c in ventas %}

        {% if c.cierre %}
        
        <tr style='background: #dde3e8;
    color: #585252;'>

        {% else %}

        <tr>

        {% endif %}
       
       <td>{{c.fecha_atencion}}</td>

       <!--<td>{{c.agente.nombre}}</td>-->
        <td>{{c.nombre_completo }}</td>
        <!--<td>{{c.dni }}</td>-->
        <td><a style='color:#67da75;' target="_blank" href='https://wa.me/51{{c.telefono_1}}?text=Hola'>{{c.telefono_1 }}</a></td>

        <td>{{c.razon_social}}</td>
        <td>{{c.status}}</td>

        <td>{{c.marca_vehiculo}}</td>
        <td>{{c.modelo}}</td>

       
        
        <td>{{c.anio}}</td>

        <td>{{c.marca_producto}}</td>
        <td>{{c.modelo_bateria}}</td>
        <td>{{c.precio}}</td>
        <td>{{c.descuento}}</td>
       
        <td><a class='btn btn-sm btn-dark' href='https://www.google.com/maps/search/{{c.direccion_atencion}}' target="_blank">Ir</a></td>


        



        <td>


          
        <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/detalle_venta/{{c.id}}')" target="_blank">Detalle</a></td>
        <td> <a class='btn btn-sm btn-light' onclick="nuevaventa('/colasIN/nueva_venta/{{c.id}}')" target="_blank">Nueva Venta</a></td>
       
        
        </div>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}

<h6>No se encontraron registros con estos parametros</h6>

<br>
  {% endif %}

      
        
          
         









