{% extends 'base.html' %}



  {% block content %}


  <style>

  th,.agentes td{
    color:#fff;
  }

  </style>
<script type="text/javascript" src="/static/ws4.js"></script>


<script type="text/javascript">
  
  


     var ws4redis = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function receiveMessage(msg) {

        console.log(msg.split('-')[0])


          if(msg.split('-')[0]=='llamada'){


          window.location.href = "/colasIN/supervisor/"

      
        }
       

    }


</script>

</head>
<body>


  <style>
    
  th,td,body{

    font-size:13px;
  }

  </style>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Monitoreo Supervisor</a>
  <a class="navbar-brand" href="http://call.comunica7.com:8000/comunica7/dashboard/">Inicio</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
   
     <!-- <a class="navbar-brand" href="#">Salir</a>
        <a class="navbar-brand" href="#">Salir</a>
         <a class="navbar-brand" href="#">Salir</a> -->
          
            <a class="btn btn-light" href='/comunica7/ingresar'>Salir</a>

    </form>
  </div>
</nav>





<div class='container'>

  <div style='height:20px;'></div>

  <h3>Monitoreo de Agentes</h3>
<table class="table agentes">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Anexo</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>



{% for a in agentes %}



  {% if a.estado.nombre == 'Disponible' %}


<tr  style="background:#28a745" >
 {% elif a.estado.nombre == 'Pausa' %}
<tr  style="background:#ffc107" >
{% elif a.estado.nombre == 'En Llamada' %}
<tr  style="background:#dc3545" >
{% elif a.estado.nombre == 'Gestion' %}
<tr  style="background: #dbe045" >
{% elif a.estado.nombre == 'Deslogueado' %}
<tr  style="background: #BCB5B3" >


{% endif %}
 
  <td>{{a.id}} </td>
  <td>{{a.nombre}} </td>

  
  <td >{{a.anexo}} </td>
  <td>{{a.estado.nombre}} </td>
 

</tr>

  {% endfor %}
</tbody>
</table>




  <h3>Monitoreo de Llamadas</h3>
<table class="table">
  <thead class="thead-light">
    <tr>

      
      <th scope="col">ID</th>
      <th scope="col">Anexo</th>
      <th scope="col">Entrante</th>
      <th scope="col">Llamado</th>
      <th scope="col">Estado</th>
      <!-- <th scope="col">Flag</th> -->
      <th scope="col">Unique ID</th>
      <!-- <th scope="col">Tipo</th> -->
      <!-- <th scope="col">Vez</th> -->

      <th scope="col">Fin</th>
      <th scope="col">Duracion</th>
      <th scope="col">Bill</th>
     <!--  <th scope="col">Cam</th> -->
      <th scope="col">Audio</th>
      <th scope="col">Fecha Origen</th>
      <th scope="col">Fecha Discado</th>
    </tr>
  </thead>
  <tbody>


<tr>

 {% for a in colas %}



    <td >{{a.id_acd}} </td>
    <td >{{a.anexo}} </td>
    <td >{{a.numero_entrante}} </td>
    <td >{{a.numero_llamado}} </td>

{% if a.llam_estado == 0 %}




    <td style="background:#28a745; text-align:center;">{{a.llam_estado}} </td>


{% else %}

{% endif %}

   <!--  <td>{{a.flag}} </td> -->
    <td >{{a.uniqueid}}</td>
    <!-- <td >{{a.sql}}</td> -->
    
   <!--  <td >{{a.vez}} </td> -->

{% if a.fin == 1 %}

    <td style="background:#28a745; text-align:center;">{{a.fin}} </td>

{% else %}

{% endif %}

    <td >{{a.duration}} </td>
    <td >{{a.bill}} </td>

    <!-- <td >{{a.cam}} </td> -->
    <td >Audio </td>
    <td >{{a.tie_ing}} </td>

    <td >{{a.tie_fin}} </td>




</tr>
  {% endfor %}
</tbody>
</table>


</div>

  {% endblock %}

