{% extends 'base.html' %}



  {% block content %}



<script type="text/javascript" src="/static/ws4.js"></script>

<script type="text/javascript">

     var ws4redis = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}foobar?subscribe-user',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    function receiveMessage(msg) {

        console.log(msg.split('-')[0])

          if(msg.split('-')[0]=='llamada'){



              window.location.href = "/agente/"+msg.split('-')[1]

      
        }
       

    }


</script>

  

  <div style='height: 20px'></div>
<div class='container'>

  <div class='row'>

    {% if agente.estado.nombre == 'Pausa' or agente.estado.nombre == 'Disponible'   %}

    <div class='col-10'>

    <h1>{{agente.estado.nombre}}</h1>

    </div>

    {% else %}

    <div class='col-10'>

    {% include "gestion.html" %}

    </div>

    {% endif %}



    <div class='col-2'>

      <form style='background: #1073ea;
    color: #fff;
    padding: 23px;
    padding-top: 18px;
    border-radius: 13px;height: 100%;'>
    

    <h4>{{agente.user.first_name}} {{agente.user.last_name}} </h4>

     <p>{{agente.estado.nombre}}</p>

      {% if agente.estado.nombre == 'Pausa' or agente.estado.nombre == 'Disponible'   %}

      <nav class="nav nav-pills flex-column flex-sm-row">

        {% if agente.estado.nombre == 'Pausa' %}
        <a class="flex-sm-fill text-sm-center nav-link active " style='color:#fff;' href="/agente/0?estado=1">Pausa</a>
        <a class="flex-sm-fill text-sm-center nav-link " style='color:#fff;' href="/agente/0?estado=2">Disponible</a>
        {% endif %}

         {% if agente.estado.nombre == 'Disponible' %}
        <a class="flex-sm-fill text-sm-center nav-link   " style='color:#fff;' href="/agente/0?estado=1">Pausa</a>
        <a class="flex-sm-fill text-sm-center nav-link active " style='color:#fff;' href="/agente/0?estado=2">Disponible</a>
        {% endif %}

        

      </nav>

      {% else %}

      <p>{{agente.estado.nombre}}</p>
      
      {% endif %}

    
     </form>
    </div>


  </div>

</div>


  {% endblock %}